<div class="face-snap-card" [ngClass]="{'snapped': snapped}">
  <p>{{ 456.38 | currency:'EUR' : 'code' }}</p>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>Mis en ligne le {{ faceSnap.createdDate | date:'dd MMMM yyyy à HH:mm' }}</p>
  <p>{{ faceSnap.description }}</p>
  @if (faceSnap.location) {
  <p>Lieu: {{ faceSnap.location }}</p>
  } @else {
  <p>Lieu: Non spécifié</p>
  }
  <p>
    <button (click)="onAddSnap()">{{ buttonLabel }}</button>
    <span [ngStyle]="{color:'rgb(0,'+ faceSnap.snaps + ',0)'}">🤌 {{ faceSnap.snaps }}</span>
  </p>
</div>
